.container .btnL {
			bottom: 0%;
			left: 53%;				
		}
		
		.container .btnL1 {
			bottom: 0%;
			left: 60%;				
		}
		
		.container .btnL2 {
			bottom: 0%;
			left: 67%;
		}
		
		.container .btnL3 {
			bottom: 0%;
			left: 74%;
		}
		
		.container .btnL4 {
			bottom: 0%;
			left: 81%;				
		}
		
		.container .btnL5 {
			bottom: 0%;
			left: 88%;
		}
		
		.container .btnL6 {
			bottom: 0%;
			left: 95%;
		}

		.container .btnL7 {
			bottom: 0%;
			left: 102%;
		}

		.container .btnL8 {
			bottom: 0%;
			left: 109%;
		}
		
		.container .btnL9 {
			bottom: 0%;
			left: 116%;
		}

		.container .btnL10 {
			bottom: 0%;
			left: 123%;
		}