.container .btnB {
			bottom: 10%;
			left: -22%;				
		}
		
		.container .btnB1 {
			bottom: 8%;
			left: -16%;				
		}
		
		.container .btnB2 {
			bottom: 8%;
			left: -8.6%;
		}
		
		.container .btnB3 {
			bottom: 8%;
			left: -1.2%;
		}
		
		.container .btnB4 {
			bottom: 8%;
			left: 6.2%;					
		}
		
		.container .btnB5 {
			bottom: 8%;
			left: 13.6%;
		}
		
		.container .btnB6 {
			bottom: 8%;
			left: 21%;
		}

		.container .btnB7 {
			bottom: 8%;
			left: 28.4%;
		}

		.container .btnb8 {
			bottom: 8%;
			left: 35.8%;
		}