.container .btnG {
			top: -3%;
			left: 28.5%;				
		}
		
		.container .btnG1 {
			top: 5%;
			left: 28.5%;				
		}
		
		.container .btnG2 {
			top: 13%;
			left: 28.5%;
		}
		
		.container .btnG3 {
			top: 21%;
			left: 28.5%;
		}
		
		.container .btnG4 {
			top: 29%;
			left: 28.5%;				
		}
		
		.container .btnG5 {
			top: 37%;
			left: 28.5%;
		}

		.container .btnG7 {
			top: 53%;
			left: 28.5%;
		}

		.container .btnG8 {
			top: 61%;
			left: 28.5%;
		}