.container .btnJ {
			top: -3%;
			left: 68.5%;				
		}
		
		.container .btnJ1 {
			top: 5%;
			left: 68.5%;				
		}
		
		.container .btnJ2 {
			top: 13%;
			left: 68.5%;
		}
		
		.container .btnJ3 {
			top: 21%;
			left: 68.5%;
		}
		
		.container .btnJ4 {
			top: 29%;
			left: 68.5%;				
		}
		
		.container .btnJ5 {
			top: 37%;
			left: 68.5%;
		}

		.container .btnJ7 {
			top: 53%;
			left: 68.5%;
		}

		.container .btnJ8 {
			top: 61%;
			left: 68.5%;
		}