.container .btnA {
			bottom: -2%;
			left: -22%;				
		}
		
		.container .btnA1 {
			bottom: 0%;
			left: -16%;				
		}
		.container .btnA2 {
			bottom: 0%;
			left: -8.6%;
		}
		.container .btnA3 {
			bottom: 0%;
			left: -1.2%;
		}
		
		.container .btnA4 {
			bottom: 0%;
			left: 6.2%;				
		}
		
		.container .btnA5 {
			bottom: 0%;
			left: 13.6%;
		}
		
		.container .btnA6 {
			bottom: 0%;
			left: 21%;
		}

		.container .btnA7 {
			bottom: 0%;
			left: 28.4%;
		}

		.container .btnA8 {
			bottom: 0%;
			left: 35.8%;
		}