.container .btnC {
			bottom: 33%;
			left: -53%;			
		}
		
.container .btnC0 {
			bottom: 25.5%;
			left: -46%;				
		}
		
.container .btnC1 {
			bottom: 33%;
			left: -46%;				
		}
		
.container .btnC2 {
			bottom: 33%;
			left: -39%;
		}
		
.container .btnC3 {
			bottom: 33%;
			left: -32%;
		}
		
.container .btnC4 {
			bottom: 33%;
			left: -25%;				
		}
		
.container .btnC5 {
			bottom: 33%;
			left: -18%;
		}
		
.container .btnC6 {
			bottom: 33%;
			left: -11%;
		}

.container .btnC7 {
			bottom: 33%;
			left: -4%;
		}