.container .btnF {
			top: -3%;
			left: 21%;				
		}

		.container .btnF0 {
			top: 5%;
			left: 14.5%;				
		}
		
		.container .btnF1 {
			top: 5%;
			left: 21%;				
		}
		
		.container .btnF2 {
			top: 13%;
			left: 21%;
		}
		
		.container .btnF3 {
			top: 21%;
			left: 21%;
		}
		
		.container .btnF4 {
			top: 29%;
			left: 21%;				
		}
		
		.container .btnF5 {
			top: 37%;
			left: 21%;
		}
		
		.container .btnF6 {
			top: 45%;
			left: 21%;
		}

		.container .btnF7 {
			top: 53%;
			left: 21%;
		}

		.container .btnF8 {
			top: 61%;
			left: 21%;
		}