.container .btnE {
			top: -3%;
			left: 0%;				
		}

		.container .btnE0 {
			top: 5%;
			left: 6%;				
		}
		
		.container .btnE1 {
			top: 5%;
			left: 0%;				
		}
		
		.container .btnE2 {
			top: 13%;
			left: 0%;
		}
		
		.container .btnE3 {
			top: 21%;
			left: 0%;
		}
		
		.container .btnE4 {
			top: 29%;
			left: 0%;				
		}
		
		.container .btnE5 {
			top: 37%;
			left: 0%;
		}
		
		.container .btnE6 {
			top: 45%;
			left: 0%;
		}