.container .btnO {
			bottom: 8%;
			right: -52%;				
		}
		
		.container .btnO1 {
			bottom: 8%;
			right: -58%;				
		}
		
		.container .btnO2 {
			bottom: 8%;
			right: -66%;
		}
		
		.container .btnO3 {
			bottom: 8%;
			right: -74%;
		}
		
		.container .btnO4 {
			bottom: 8%;
			right: -82%;				
		}
		
		.container .btnO5 {
			bottom: 8%;
			right: -90%;
		}