.container .btnA {
			top: 11.5%;
			left: 17%;				
		}
		
		.container .btnA1 {
			top: 14.5%;
			left: 18%;				
		}
		
		.container .btnA2 {
			top: 17.5%;
			left: 18%;
		}
		
		.container .btnA3 {
			top: 20.5%;
			left: 18%;
		}
		
		.container .btnA4 {
			top: 23.5%;
			left: 18%;				
		}
		
		.container .btnA5 {
			top: 26.5%;
			left: 18%;
		}
		
		.container .btnA6 {
			top: 29.5%;
			left: 18%;
		}

		.container .btnA7 {
			top: 32.5%;
			left: 18%;
		}

		.container .btnA8 {
			top: 35.5%;
			left: 18%;
		}		