.container .btnF {
			top: 30%;
			right: -26.5%;				
		}

		.container .btnF0 {
			top: 27%;
			right: -18%;				
		}
		
		.container .btnF1 {
			top: 30%;
			right: -18%;				
		}
		
		.container .btnF2 {
			top: 30%;
			right: -9%;
		}
		
		.container .btnF3 {
			top: 30%;
			right: 0%;
		}
		
		.container .btnF4 {
			top: 30%;
			right: 9%;				
		}
		
		.container .btnF5 {
			top: 30%;
			right: 18%;
		}
		
		.container .btnF6 {
			top: 30%;
			right: 27%;
		}

		.container .btnF7 {
			top: 30%;
			right: 36%;
		}