.container .btnB {
			top: 11.5%;
			left: 30%;				
		}
		
		.container .btnB1 {
			top: 14.5%;
			left: 27%;				
		}
		
		.container .btnB2 {
			top: 17.5%;
			left: 27%;
		}
		
		.container .btnB3 {
			top: 20.5%;
			left: 27%;
		}
		
		.container .btnB4 {
			top: 23.5%;
			left: 27%;				
		}
		
		.container .btnB5 {
			top: 26.5%;
			left: 27%;
		}
		
		.container .btnB6 {
			top: 29.5%;
			left: 27%;
		}
			
		.container .btnB7 {
			top: 32.5%;
			left: 27%;
		}

		.container .btnB8 {
			top: 35.5%;
			left: 27%;
		}		