.container .btnD {
			top: 2%;
			left: 68%;			
		}
		
		.container .btnD1 {
			top: 2%;
			left: 60%;					
		}
		
		.container .btnD2 {
			top: 5%;
			left: 60%;
		}
		
		.container .btnD3 {
			top: 8%;
			left: 60%;
		}
		
		.container .btnD4 {
			top: 11%;
			left: 60%;				
		}
		
		.container .btnD5 {
			top: 14%;
			left: 60%;
		}
		
		.container .btnD6 {
			top: 17%;
			left: 60%;
		}

		.container .btnD7 {
			top: 20%;
			left: 60%;
		}