.container .btnE {
			top: 21%;
			right: -27%;				
		}

		.container .btnE0 {
			top: 24%;
			right: -18%;				
		}
		
		.container .btnE1 {
			top: 21%;
			right: -18%;				
		}
		
		.container .btnE2 {
			top: 21%;
			right: -9%;
		}
		
		.container .btnE3 {
			top: 21%;
			right: 0%;
		}
		
		.container .btnE4 {
			top: 21%;
			right: 9%;				
		}
		
		.container .btnE5 {
			top: 21%;
			right: 18%;
		}
		
		.container .btnE6 {
			top: 21%;
			right: 27%;
		}