.container .btnJ {
			top: 49.5%;
			right: -27%;				
		}
		
		.container .btnJ1 {
			top: 49.5%;
			right: -18%;				
		}
		
		.container .btnJ2 {
			top: 49.5%;
			right: -9%;
		}
		
		.container .btnJ3 {
			top: 49.5%;
			right: 0%;
		}
		
		.container .btnJ4 {
			top: 49.5%;
			right: 9%;				
		}
		
		.container .btnJ5 {
			top: 49.5%;
			right: 18%;
		}		

		.container .btnJ7 {
			top: 49.5%;
			right: 33%;
		}

		.container .btnJ8 {
			top: 49.5%;
			right: 41%;
		}