.container .btnC {
			top: 5%;
			left: 43%;			
		}

.container .btnC0 {
			top: 2%;
			left: 45%;				
		}
		
.container .btnC1 {
			top: 2%;
			left: 52%;				
		}
		
.container .btnC2 {
			top: 5%;
			left: 52%;
		}
		
.container .btnC3 {
			top: 8%;
			left: 52%;
		}
		
.container .btnC4 {
			top: 11%;
			left: 52%;				
		}
		
.container .btnC5 {
			top: 14%;
			left: 52%;
		}
		
.container .btnC6 {
			top: 17%;
			left: 52%;
		}

.container .btnC7 {
			top: 20%;
			left: 52%;
		}