.container .btnG {
			top: 33%;
			right: -27%;				
		}
		
		.container .btnG1 {
			top: 33%;
			right: -18%;				
		}
		
		.container .btnG2 {
			top: 33%;
			right: -9%;
		}
		
		.container .btnG3 {
			top: 33%;
			right: 0%;
		}
		
		.container .btnG4 {
			top: 33%;
			right: 9%;				
		}
		
		.container .btnG5 {
			top: 33%;
			right: 17%;
		}
		

		.container .btnG7 {
			top: 33%;
			right: 33%;
		}

		.container .btnG8 {
			top: 33%;
			right: 41%;
		}