.container .btnO {
			bottom: 15%;
			left: 27%;				
		}
		
		.container .btnO1 {
			bottom: 12%;
			left: 27%;				
		}
		
		.container .btnO2 {
			bottom: 9%;
			left: 27%;
		}
		
		.container .btnO3 {
			bottom: 6%;
			left: 27%;
		}
		
		.container .btnO4 {
			bottom: 3%;
			left: 27%;				
		}
		
		.container .btnO5 {
			bottom: 0%;
			left: 27%;
		}